@tailwind base;
@tailwind components;
@tailwind utilities;

.my-swiper [class^='swiper-button-']::after {
  content: '';
}

.swiper-button-prev {
  height: 48px;
  width: 48px;
}
.swiper-button-next {
  height: 48px;
  width: 48px;
}
